.navbar{
   width: 100%;
   padding-block: 1.5rem;
   position: relative; 
   z-index: 111111111;
}
.navbar_container{
    width: 80%;
    margin: 0 auto;

     display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    justify-content: space-between;
    gap:1rem;

}
.navbar_container_left{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.navbar_container_left_box_input_box {
    width: 60%;
    border:1px solid gray;
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: 2rem;
}
.navbar_container_left_box_input_box >input{
    width: 90%; 
    border:none;
    outline: none;
    background-color: transparent;
 cursor:pointer;
}
.search_icon{
cursor:pointer;
font-size:1.4rem;
}

/*  Right */
.navbar_container_right{
    display: grid;
    grid-template-columns: 1fr 1fr .5fr 1fr .3fr;
    gap:1rem;
    align-items: center;
    

}
.navbar_container_right_discover,
.navbar_container_right_help{
position: relative;
cursor: pointer;
}
.navbar_container_right_discover_box,
.navbar_container_right_help_box{
    position: absolute;
    padding:1rem .5rem;
    box-shadow: 6px 6px 12px rgba(25, 25, 25, 0.75);
    width:15rem;
    font-size:1rem;
    background-color: whitesmoke;
    
}
.navbar_container_right_notify{
    position:relative;
    cursor:pointer;
    

}
.navbar_container_right_profile_box{
    position: relative;
    cursor:pointer;
}

.notify{
    font-size: 2rem;
}
.navbar_container_right_button{
    position: relative;
    cursor:pointer;
}
.navbar_container_right_profile{
    border-radius: 50%;
}
.navbar_container_right_menuBtn{
    display:none;
}
.menuIcon{
    font-size:2.5rem
}

/* --------SIDEBAR */

.sidebar{
position: fixed;
top: 0;
width: 24rem;
background-color: whitesmoke;
box-shadow: 6px 6px 12px rgba(25, 25, 25, 0.75);
height: 100vh;
overflow-y: auto;
display: none;
z-index: 111111;
}

.sidebar::-webkit-scrollbar {
    display: none;
}
@media (max-width:320px),(max-width:768){
.navbar_container{
    grid-template-columns: 1fr 1fr;
}
.navbar_container_left{
    grid-template-columns: 1fr;
}
.navbar_container_right{
    grid-template-columns: repeat(3, 1fr);
}
.navbar_container_right_menuBtn{
    display: block;

}
.navbar_container_left_box_input_box {
    display:none;
}
.navbar_container_right_discover {
    display:none;
}
.navbar_container_right_help{
        display: none;
}
.navbar_container_right_button{
        display: none;
}
.sidebar{
    display: block;
}
}