.subscribe{
    width:100%;
}
.subscribe_box {
    width: 80%;
    margin: 0 auto;
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    gap:3rem
}

.subscribe_box_left > h2{
    font-size: 1.2rem;
    line-height: 0;
}
.subscribe_box > p {
    font-size: 1.2rem;
}
.subscribe_box_left_box{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.subscribe_box_left_box > small {
    font-size: 1rem;
    font-weight: 700;
}

.subscribe_box_left_box >span {
    background-color: aqua;
    color:black;
    padding: .5rem 1rem;
    border-radius: 2rem;
    width: 4rem;
    text-align: center;
}

.subscribe_box_left_input {
    margin-top: 3rem;
    padding: 2rem;
    width: 80%;
    border-radius: 4rem;
    background-color: aqua;
    color: black;
    display: flex;
    align-items: center;
}
.subscribe_box_left_input >input {
    background-color: transparent;
    border: none;
    outline: none;
    width:90%
}
.subscribe_box_left_input input::placeHolder{
    /* color:inherit; */
    font-size: 1.2rem;
}
.subscribe_box_left_input_icon {
    font-size: 2rem;
}

@media(max-width:760) {
    .subscribe_box {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap:3rem
        
    } 
}

@media(max-width:320px)
 {
    .subscribe_box {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap:3rem;
        justify-content:center; 
     }
     .subscribe_box_left_input{
        width: 100%;
        padding:1rem;
     }
     .subscribe_box_left h2  {
        font-size: 1rem;
        width: 90%;
     }
}

@media(max-width:678px),
(max-width:1024) {
    .subscribe_box {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap:4rem;
    }
    .subscribe_box_left_input{
       width: 100%;
       padding: 1rem; 
    }
    .subscribe_box_left h2{
        /* font-size: 2rem;; */
    }
}