.discover{
    padding: .5rem 1rem;
    transition: all .3s ease-in;
    z-index:222222222;
}
.discover:hover {
    background-color: blueviolet;
    color:aqua;
    border-radius: .3rem;
}
.notification_box:hover{
    background-color:aqua;
    color: black;
    border-radius: .3rem;


}