.sidebar_box{
    padding: 2rem;
    border-bottom: 1px solid gray;

}
.sidebar_closeBtn{
 position: absolute;
 top: 3rem;
 right: 2rem;
 transition: all .2s ease-in-out;
 cursor: pointer;
 box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
    }

.sidebar_closeBtn:hover{
    transform: rotate(45deg);
}
.sidebar_box > p{
  margin-top: -2rem;  
}

.sidebar_social{
    display: flex;
    gap: 1.3rem;
    font-size: 1.5rem;
    align-items: center;
}
.sidebar_social a{
  padding: .2rem;
  border-radius: 50%;
  transition: all .3s ease-in;
  display: grid;  
}
.sidebar_social a:hover{
    background-color: blue;
    color: mintcream;
    box-shadow: rgba(0,0,0,0.75)
}
.sidebar_menu{
   padding: 2rem;
   text-transform: uppercase; 
   font-weight: 600;
   border-bottom:  1px solid gray;
}
.sidebar_menu_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.sidebar_discover{
padding: 1rem;
}
.sidebar_button{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}